html, body{
  background-color:#cfdfda !important;
  margin:0px;
  padding:0px;
}

#header, .navbar, .registration, ul li a, #footer{
  background:#236477;
  color:#cfdfda;
  text-shadow: 1px 1px 1px #173042;
  font-weight:bold;
}
#header{
width:100%;

}
.title{
  margin-top:4%;
}
.navbar, .registration{
  border:none;
  border-bottom-width: 0px;
  border-radius:0px;
  border-top-left-radius: 0px;
}
.navbar{
border-bottom:5px solid #7cad3e;
}
.container{
  width:100%;
}
form{
  margin:10px;
}
input{
  color:black;
  background: #cfdfda);
  margin:3px;
}
.btn-main {
 border-radius: 3px;
 box-shadow: 1px 2px 1px black;
 font-family: Arial;
 color:#173042;
 background: #cfdfda;
 border: outset #cfdfda 1px;
 font-weight: bold;
 padding:5px 10px 5px 10px;
}
.btn-main:hover, .navbar-nav li a:hover {
 background: #7cad3e;
 color: #173042;
}

.registration:hover{
  color:#7cad3e;
}
#login-btn{
  margin-top:5px;
  margin-left:3px;
}
.registration{
  padding-right:25px;
  z-index:2
}
#username, #password{
  color:#173042;
}
.table{
margin-top: 55px;
z-index:2;
}
.table-responsive{
  z-index:3;
}
#arbithead th{
  border-bottom: 3px solid #236477;
  color:#173042;
  z-index:2;
}
#arbithead th, #arbitbody td{
  padding-left:30px;
  font-size: 17px;
}
#arbitbody td{
  border-bottom: 1px solid #236477;
  color:#173042;
}
#arbitbody tr:hover{
   background:#7cad3e;
  box-shadow: 1px 1px 2px #236477;
}
#arbitbody td:hover{
  text-shadow: .5px .5px 0px #236477;
 }
#footer ul{
  list-style-type:none;
  margin:5px;
  padding:15px;
}
#footer li{
  padding:3px;
}

/*will probably have to be changed when content is dynamic*/
#footer{
   clear: both;
    position: relative;
    z-index: 10;
    height: 170px;
    margin-top: -170px;
}
p{
color:#236477;
font-size:20px;
}
.border{
border:30px solid #236477;

}
.img-komodo, .col-md-5{
padding-left:0px;
margin-left:-30px;
}

#main{
  min-height:100%;
  height:700px;
  z-index:3;
}
/*for smaller screens*/
@media only screen and (max-width: 950px){
  .polygon{
    display:none;
  }

}