@import url("https://fonts.googleapis.com/css?family=Patua+One");

.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.7);
  border: 3px rgba(0,0,0,0.1);
  transform: translateY(33%);
  }

.form-signin-heading {
  font-family: 'Patua One', serif;
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.btn-pad {
    padding: 20px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



