html, body{
 background-color:rgb(0, 41, 73);
  margin:0px;
  padding:0px;
}

#header, .navbar, .signout, ul li a, #footer, .sidebar{
  background:#236477;
  color:#cfdfda;
  text-shadow: 1px 1px 1px #173042;
  font-weight:bold;

}
#header, .sidebar{
width:100%;
}

.title{
  margin-top:4%;
}
.navbar, .signout{
  border:none;
  border-bottom-width: 0px;
  border-radius:0px;
  border-top-left-radius: 0px;
}
.container{
  width:100%;

}


.btn-main {
 border-radius: 3px;
 box-shadow: 1px 2px 1px black;
 font-family: Arial;
 color: #236477;
 background: #cfdfda;
 border: outset #cfdfda 1px;
 font-weight: bold;
 padding:5px 10px 5px 10px;
}
.btn-main:hover, .navbar-nav li a:hover {
 background: #236477;
 color: #173042;
}
.sidebar{
margin-top:-20px;
padding-top:70px;
height: 700px;
}
.sidebar li{
padding-top:5px;

}

.signout:hover{
  color:#7cad3e;
}

.signout{
  padding-right:25px;
  z-index:2
}

.table{
margin-top: 55px;
z-index:2;
}
.table-responsive{
  z-index:3;
}
#arbithead th{
  border-bottom: 3px solid #236477;
  color:#173042;
  padding:5px;
  z-index:2;
}
#arbithead th, #arbitbody td{

  font-size: 17px;
}
#arbitbody td{
  border-bottom: 1px solid #236477;
  color:#173042;
}
#arbitbody tr:hover{
    background:#7cad3e;
   box-shadow: 1px 1px 2px #236477;
}
/*#arbitbody td:hover{
  text-shadow: .5px .5px 0px #236477;
 }*/
#footer ul{
  list-style-type:none;
  margin:5px;
  padding:15px;
}
ul{
 list-style-type:none;
}
#footer li{
  padding:3px;
}

/*will probably have to be changed when content is dynamic*/
#footer{
   clear: both;
    position: relative;
    z-index: 10;
    height: 170px;
    margin-top: -170px;
}
#main{
  min-height:100%;
  margin:0px;
  padding:0px;
  height:700px;
  z-index:3;
}
/*for smaller screens*/
@media only screen and (max-width: 950px){
  .polygon{
    display:none;
  }

}