html, body{
  background: rgba(249, 233, 184);
  margin:0px;
  padding:0px;
}

#header, .navbar, .signout, ul li a, #footer, .sidebar{
  background:#002949;
   color: #E0C387;
  text-shadow: 1px 1px 1px black;
  font-weight:bold;
}
#header, .sidebar{
width:100%;
}

.title{
  margin-top:4%;
}
.navbar, .signout{
  border:none;
  border-bottom-width: 0px;
  border-radius:0px;
  border-top-left-radius: 0px;
}
.container{
  width:100%;
}


.btn-main {
 border-radius: 3px;
 box-shadow: 1px 2px 1px black;
 font-family: Arial;
 color: #002949;
 background: #E0C387;
 border: outset #E0C387 1px;
 font-weight: bold;
 padding:5px 10px 5px 10px;
}
.btn-main:hover, .navbar-nav li a:hover {
 background: #002949;
 color: #E0C387;
}
.sidebar{
margin-top:-20px;
padding-top:70px;
}
.sidebar li{
padding-top:5px;

}

.signout:hover{
  color:rgba(249, 233, 184, 0.85);
}

.signout{
  padding-right:25px;
  z-index:2
}
#username, #password{
  z-index:;
}
.table{
margin-top: 55px;
z-index:2;
}
.table-responsive{
  z-index:3;
}
#arbithead th{
  border-bottom: 3px solid #002949;
  color:#002949;
  padding:5px;
  z-index:2;
}
#arbithead th, #arbitbody td{

  font-size: 17px;
}
#arbitbody td{
  border-bottom: 1px solid #002949;
  color:#002949;
}
#arbitbody tr:hover{
   background:#E0C387;
  box-shadow: 1px 1px 2px #002949;
}
#arbitbody td:hover{
  text-shadow: .5px .5px 0px #002949;
 }
#footer ul{
  list-style-type:none;
  margin:5px;
  padding:15px;
}
ul{
 list-style-type:none;
}
#footer li{
  padding:3px;
}
.polygon{
  width:186.78px;
  height;160.43px;
position: absolute;
background: rgba(249, 233, 184, 0.47);
-webkit-transform: skew(150deg); -moz-transform: skew(150deg); -o-transform: skew(150deg);
  z-index:1;
}
#polygon1{
left: 25.63%;
right: -15.07%;
top: -10.06%;
bottom: -68.03%;

}
#polygon2{
left: 30.63%;
right: -15.07%;
top: -10.06%;
bottom: -68.03%;
}
/*will probably have to be changed when content is dynamic*/
#footer{
   clear: both;
    position: relative;
    z-index: 10;
    height: 170px;
    margin-top: -170px;
}
#main{
  min-height:100%;
  margin:0px;
  padding:0px;
  height:700px;
  z-index:3;
}
/*for smaller screens*/
@media only screen and (max-width: 950px){
  .polygon{
    display:none;
  }

}