

.signout, .sidebar{
  background:#236477;
  color:#cfdfda;
  font-weight:bold;

}

.sidebar{

  text-shadow: 1px 1px 1px #173042;


}



.signout{
  border:none;
  border-bottom-width: 0px;
  border-radius:0px;
  border-top-left-radius: 0px;
}


.sidebar{
margin-top:-20px;
padding-top:50px;
height: 700px;
}
.sidebar li{
padding:5px;
font-size:20px;

}
.sidebar li a:hover{
text-decoration:none;
color: #7cad3e;

}

.signout:hover{
  color:#7cad3e;
}

.signout{
  padding-right:25px;
  z-index:2
}

.col-sm-8{
margin-left: 55px;
z-index:2;
overflow: scroll;
}
#profile{
margin-top:50px;
margin-left: 95px;
}


#arbithead th{
  border-bottom: 3px solid #236477;
  color:#173042;
  padding:5px;
  z-index:2;
}
#arbithead th, #arbitbody td{

  font-size: 17px;
}
#arbitbody td{
  border-bottom: 1px solid #236477;
  color:#173042;
}
#arbitbody tr:hover{
    background:#7cad3e;
   box-shadow: 1px 1px 2px #236477;
}
/*#arbitbody td:hover{
  text-shadow: .5px .5px 0px #236477;
 }*/
#footer ul{
  list-style-type:none;
  margin:5px;
  padding:15px;
}
ul{
 list-style-type:none;
}
#footer li{
  padding:3px;
}

/*will probably have to be changed when content is dynamic*/
#footer{
   clear: both;
    position: relative;
    z-index: 10;
    height: 170px;
    margin-top: -170px;
}
#main{
  min-height:100%;
  margin:0px;
  padding:0px;
  height:650px;
  z-index:3;

}
/*for smaller screens*/
@media only screen and (max-width: 950px){
  .polygon{
    display:none;
  }

}