<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Komodo Crypto</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" id="header">
        <div class="row">
            <div class="col-sm-9">
                <h1 class="title" >KOMODO CRYPTO</h1>
            </div>
            <div class="col-sm-3 login">
                <form method="POST" class="form-signin" > <!-- th:action="@{/end point here}">-->
                    <input type="text" id="username" placeholder="Username"/>
                    <input type="password" id="password" placeholder="Password" />

        <!-- error messaage for when oauth is added
<div align="center" th:if="${param.error}">
            <p>Email or Password invalid, please verify</p>
        </div>-->
                    <br>
                    <button class="btn-main" id="login-btn" value="Login" type="Submit" >Login</button>
                </form>
            </div>
        </div>

    <nav class="navbar  navbar-fixed">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
            <form method="get"> <!-- th:action="@{/end point here}">-->
                <button class="navbar-right registration" type="Submit">Don't have an Account? Register Here</button>
            </form>
        </div>
    </nav>
    </div>

<div class="container" id="main">
    <div class="row"> <div class="col-sm-1"></div>
        <div class=" col-sm-10 table-responsive">
            <table class="table">
                <thead id="arbithead">
                <tr>
                    <th>Coin Pair</th>
                    <th>Highest</th>
                    <th>Lowest</th>
                    <th>Spread</th>
                </tr>
                </thead>
                <tbody id="arbitbody">
                <!-- will be filled with data by thymeleaf. these are just temp values-->
                <tr>
                    <td th:utext="${currencyPair}"></td>
                    <td th:utext="${highBid}"></td>
                    <td th:utext="${lowAsk}"></td>
                    <td th:utext="${difference}"></td>
                </tr>
                <tr>
                    <td th:utext="${currencyPair}"></td>
                    <td th:utext="${highBid}"></td>
                    <td th:utext="${lowAsk}"></td>
                    <td th:utext="${difference}"></td>
                </tr>
                <tr>
                    <td th:utext="${currencyPair}"></td>
                    <td th:utext="${highBid}"></td>
                    <td th:utext="${lowAsk}"></td>
                    <td th:utext="${difference}"></td>
                </tr>
                <tr>
                    <td th:utext="${currencyPair}"></td>
                    <td th:utext="${highBid}"></td>
                    <td th:utext="${lowAsk}"></td>
                    <td th:utext="${difference}"></td>
                </tr>
                </tbody>
            </table>
        </div></div><div class="col-sm-1"></div></div>
<footer>
    <div id="footer">
        <ul>
            <li>Terms of use</li>
            <li>About Us</li>
            <li>Services</li>
            <li>Developer Tools</li>
            <li>Contact Us</li>

        </ul>
    </div>
</footer>
</div>
</body>
</html>