<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/registration.css}">

</head>
<body>
<div class="container" id="header">

    <div class="row"> <div class="col-sm-9">
        <h1 class="title" >KOMODO CRYPTO</h1></div> <div class="col-sm-3">
</div></div></div> <nav class="navbar  navbar-fixed">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li><a th:href="@{/komodo/home}">Home</a></li>
            <li><a th:href="@{/komodo/services}">Services</a></li>
            <li><a th:href="@{/komodo/about}">About</a></li>
            <li><a th:href="@{/komodo/faq}">FAQ</a></li>
        </ul>
       <!-- <form method="get"> &lt;!&ndash; th:action="@{/end point here}">&ndash;&gt;
            <button class="navbar-right signout" type="Submit" th:action="@{/komodo/logout}" method="get">Sign out</button>
        </form>-->
    </div>
</nav>

<div class="container" id="centerForm">
    <div class="row"> <div class="col-sm-3">
    </div>
        <div class="col-md-6">
            <!--change th:action location for oauth if needed-->
            <form autocomplete="off" action="#" th:action="@{/komodo/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">



                <h1>Registration Form</h1>

                <input type="text" th:field="*{first_name}" placeholder="First Name"
                       class="form-control"/>
                <input type="text" th:field="*{last_name}" placeholder="Last Name"
                       class="form-control"/>
                <input type="email" th:field="*{email}" placeholder="Email"
                       class="form-control"/>




                <input type="password" th:field="*{password}"
                       placeholder="Password" class="form-control"/> <label
                     th:field="*{password}"
            ></label>



                <button type="submit" class="btn-main btn-block">Register User</button>




            </form>


            <form th:action="@{/komodo/}" method="get">
                <button class="btn-main btn-block" type="Submit">Go To Login Page</button>
            </form>
            <span class="text-center" th:utext="${successMessage}"></span>

        </div>
    </div>
</div>
<footer>
    <div id="footer">
        <ul>
            <li><a th:href="@{/komodo/terms}">Terms of use</a></li>
            <li><a th:href="@{/komodo/about}">About Us</a></li>
            <li><a th:href="@{/komodo/services}">Services</a></li>
            <li><a th:href="@{/komodo/tools}">Developer Tools</a></li>
            <li><a th:href="@{/komodo/contact}">Contact Us</a></li>

        </ul>
    </div>
</footer>

</body>
</html>